---
title: about
---
{% include liquid/time.liquid %}
<h1 class="center-text"><u>About me</u></h1>
<div>
    <img class="circular-border float" src="assets/images/avatar.jpg" width="30%" style="margin: -20px 16px 0px 0px;" alt="Matteo Mangioni's photo">
    <p style="margin-top: 0;">
        Hi!
        I'm Matteo Mangioni, a {{ my_age }}-years-old Computer Science student based in <b>Milan, Italy</b> :it:.
        In 2023 I got my <b>Bachelor degree in Computer Science</b> from the <a class="std-decoration no-underline" href="https://www.unimi.it">University of Milan</a> with a final grade of 110L/110.
        I'm currently studying for a Masters degree in Computer Science at the same university, focusing on video game design and development.
    </p>
    <p>
        <b>Games are my passion</b>!
        I love playing video games and exploring how they're made, the same as I love sitting around a table with my friends to enjoy a good board game; weirdly enough, I also quite like reading board game rulebooks!
        This is why I decided to pursue a career in <b>game design</b>: creating powerful and fun experiences for others to enjoy would be a dream come true.
        It would be giving back to a medium that has genuinely changed my life.
    </p>
    <div class="flex-space-evenly wrap">
        <div class="min-width-fit">
            <h3 style="margin: 5px 0px;" class="center-text"><u>Contacts</u></h3>
            <div class="links space-between" style="max-width: 500px;">
                {% assign follows = site.data.socials | where: "type", "contact" %}
                {% for item in follows %}
                    <a class="std-decoration no-underline" href="{{ item.link }}">
                        <img height="30" src="/assets/images/svg/{{ item.svg }}" class="on-bg change-on-hover" alt="{{ item.name }} logo">
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="min-width-fit">
            <h3 style="margin: 5px 0px;" class="center-text"><u>Follow me</u></h3>
            <div class="links space-between" style="max-width: 500px;">
                {% assign follows = site.data.socials | where: "type", "follow" %}
                {% for item in follows %}
                    <a class="std-decoration no-underline" href="{{ item.link }}">
                        <img height="30" src="/assets/images/svg/{{ item.svg }}" class="on-bg change-on-hover" alt="{{ item.name }} logo">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
                
</div>

