{% assign post = include.collection[include.index] %}
{% if post != null %}
    {% assign tags_num = post.tags.size | minus: 1 %}
    <div class="card {%if include.top == 1 %} top-card {% endif %} {%if include.bottom == 1 %} bottom-card {% endif %}">
        <a href="{{ post.url }}">
            {% if post.cover != null %}
                <img src="{{ post.cover }}" class="cover">
            {% endif %}
            <div class="card-content to-clamp">
                <h3><u>{{ post.title }}</u></h3>
                <p>
                    <small>
                        {{ post.date | date: "%Y/%m/%d" }}
                        <div class="hidden-sm">
                            {%if post.tags.size > 0 %}
                                {% for i in (0..tags_num) %} 
                                    <b>#{{ post.tags[i] | remove: "," }}</b>
                                {% endfor %} 
                            {% endif %}
                        </div> 
                    </small>
                </p>
                <p>{{ post.excerpt }}</p>
            </div>
        </a>
    </div>
{% endif %}