<div class="pure-g foot-body center word-break justify-text">
    <div class="pure-u-1-3 pure-u-md-1-8 pure-lg-3-24 pure-u-xl-2-24 pure-u-xxxl-1-24 foot-column center-text">
        <a href="mailto:mat.mangioni@gmail.com" class="top">
            <img src="/assets/images/mail-logo.svg" height="20" class="valign-middle">
            email
        </a>
        <a href="https://twitter.com/{{ site.twitter_username }}">
            <img src="/assets/images/twitter-logo.svg" height="20" class="valign-middle">
            twitter
        </a>
    </div>
    <div class="pure-u-1-3 pure-u-md-1-8 pure-lg-3-24 pure-u-xl-2-24 pure-u-xxxl-1-24 foot-column center-text">
        <a href="https://{{ site.itch_username }}.itch.io" class="top">
            <img src="/assets/images/itch-logo.svg" height="20" class="valign-middle">
            itch.io
        </a>
        <a href="https://github.com/{{ site.github_username }}">
            <img src="/assets/images/github-logo.svg" height="20" class="valign-middle">
            github
        </a>
    </div>
    <div class="pure-u-2-3 pure-u-md-1-4 pure-lg-7-24 pure-u-xl-5-24 pure-u-xxxl-3-24 pure-u-x4k-1-12 foot-column">
        <p>{{ site.description }}</p>
    </div>
</div>