<div class="pure-g foot-body center word-break justify-text">
    {% for i in (0..1) %}
        <div class="pure-u-10-24 pure-u-md-5-24 pure-lg-3-24 pure-u-xl-3-24 pure-u-xxxl-1-24 foot-column center-text">
            {% assign column_size = site.data.socials.size | divided_by: 2 %}
            {% assign remainder = site.data.socials.size | modulo: 2 %}
            {% assign column_size = column_size | plus: remainder %}
            {% for j in (1..column_size) %}
                {% assign index = i | times: column_size %}
                {% assign index = index | plus: j %}
                {% assign index = index | minus: 1 %}
                {% if index < site.data.socials.size %}
                    <a href="{{ site.data.socials[index].link }}" {% if j < column_size %} class="top" {% endif %}>
                        {% if site.data.socials[index].svg != null%}
                            <img src="/assets/images/svg/{{ site.data.socials[index].svg }}" height="20" class="valign-middle">
                        {% endif %}
                        {{ site.data.socials[index].name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="pure-u-20-24 pure-u-md-7-24 pure-u-xl-5-24 pure-u-xxxl-3-24 pure-u-x4k-1-12 foot-column">
        <p>{{ site.description }}</p>
    </div>
</div>