div.card {
    --max-height: 120px;
    --content-padding: 10px;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: calc(var(--max-height) + 2 * --content-padding);

    a {
        display: block;
        padding: var(--content-padding);
        width: calc(100% - 2 * --content-padding);
        height: var(--max-height);
        text-decoration: none;
        color: $text-color;
    }

    img.cover {
        float:left;
        margin-right: 10px;
        height: var(--max-height);
    }

    h3 {
        margin: 0;
    }
    
    p {
        margin: 0;      
    }

    .card-content {
        max-height: var(--max-height);
    }

    .tag-card {
        padding: 1px 5px;
        margin: 0px 2px;
        text-align: center;
    }

    .tag-bg-color {
        color: $bg-color;
    }
}

div.card:hover {
    background-color: rgba(255, 255, 255, 0.262);
}

div.card.top-card {
    margin-top: 10px;
    border-top: 2px solid $border-color;
}

div.card.bottom-card {
    margin-bottom: 10px;
    border-bottom: 2px solid $border-color;
}