* {
    .container {
        display: flex;
        min-height: 100svh;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .word-break {
        word-break: break-word;
    }

    .justify-text {
        text-align: justify;
        text-justify: auto;
    }

    .valign-middle {
        vertical-align: middle;
    }
    
    .center {
        justify-content: center;
    }

    .center-text {
        text-align: center;
    }
    
    .content {
        margin: 0px 16px 0px 16px;
    }

    .hidden {
        display: none;
    }

    @media (max-width: 671.5px) {
        .hidden-sm {
            display: none;
        }
    }

    @media (min-width: 671.5px) {
        .hidden-over-sm {
            display: none;
        }
    }
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-size: large;
}