---
search: false
---

@charset "utf-8";

// Should be at the start of file
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

h1, h2, h3, h4, h5, h6 {
	margin-top: 1em;
}

ul.visible-links {
	
	justify-content: center;

	li a {
		font-weight: bold;
	}
}

.author__content {
	a:hover {
		text-decoration: underline;
	}
}

div.sidebar {
	opacity: 1;
}

div.grid__item article.archive__item {
	transition: all 0.2s ease-in-out;
	opacity: 0.8;

	background-color: #31353d;

	padding: 0;
	border: 2px solid white;
	border-radius: 5px;

	h2.archive__item-title {
		margin: 0.5em 0.5em 0.3em 0.5em;
		text-align: center;
		font-weight: bold;
		color:white;
	}

	.dropdown {
		grid-template-rows: 0fr;
		transition: all 0.6s ease-in-out;
		display: grid;
	}

	p.archive__item-excerpt {
		transition: all 0.6s ease-in-out;
		overflow: hidden;
		margin: 0em 0.6em 0.4em 0.6em;
		opacity: 0;
		text-align: center;
		word-break: break-all;
	}
}

div.grid__item article.archive__item:hover {
	opacity: 1;

	.dropdown {
		grid-template-rows: 1fr !important;
	}

	p.archive__item-excerpt {
		transition: all 0.6s ease-in-out;
		opacity: 1;
	}

	h2.archive__item-title {
		text-decoration: underline;
	}
}

@media (min-width: 0.5em) {
  .grid__item .archive__item-teaser {
    max-height: 200px;
  }
}
